body{
    background-color:rgb(255,255,255);
    font-family: 'Lato', sans-serif;
}

div#footer {
    clear: both;
    color: #666;
    border-top: 2px solid #666;
    padding: 30px;
}

div#notarapper {
    overflow: hidden;
    white-space: nowrap;
}

div#container1 {
    padding: 30px;
}

div#container2 {
    padding: 60px;
}


div#bigtitle { /* This is the custom font properties for the big Title, 'By Major, Which..' */
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
}

div#majortext { /* This is the custom font properties for 'Select a Major' */
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    text-align: center;
}

div#currentmajor { /* This is custom font properties for the current major selected text */
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    text-align: center;
}

div#buttonsfeelings { /* Special properties of the buttons */
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    text-align: center;
}

div#spacemaker {
	clear: both;
	border-top: 2px;
	border-bottom: 2px;
	padding: 10px;
}

.btn { /* Boostrapped buttons graphics */ 
    background: #9e54a8;
    background-image: -webkit-linear-gradient(top, #9e54a8, #53286e);
    background-image: -moz-linear-gradient(top, #9e54a8, #53286e);
    background-image: -ms-linear-gradient(top, #9e54a8, #53286e);
    background-image: -o-linear-gradient(top, #9e54a8, #53286e);
    background-image: linear-gradient(to bottom, #9e54a8, #53286e);
    font-family: Lato;
    color: #ffffff;
    font-size: 14px;
    
    border: solid #b8b8b8 2px !important;
    text-decoration: none;
    margin: 5px;
    
}

.btn:hover { /* What the buttons look like when hovered over */
    background: #a98eab;
    background-image: -webkit-linear-gradient(top, #a98eab, #a477d1);
    background-image: -moz-linear-gradient(top, #a98eab, #a477d1);
    background-image: -ms-linear-gradient(top, #a98eab, #a477d1);
    background-image: -o-linear-gradient(top, #a98eab, #a477d1);
    background-image: linear-gradient(to bottom, #a98eab, #a477d1);
    /*text-decoration: none;*/
    color: #ffffff !important;
}

.btn:active { /* What the button looks like when clicked on */
    background: #C0C0C0
}

#content { /* The middle section of the body's properties */
    margin-left: 30%;
}
#sidebar { /* The left section of the body's properties (all the buttons) */
    float: left;
    width: 30%;
}